
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


/*=============== BASE ===============*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth; 
  }
  
  :root {
    --bg-color:-webkit-linear-gradient(0deg,#fa2424, #fb8721);
    --text-color: #22100d;
    --second-color: #685f78;
    --span-color:rgb(255, 38, 0);
    /* --hover-color: #ed352c; */
    --big-font: 4.4rem;
    --h2-font: 3.6rem;
  }

  section{
    /* background-color: aqua; */
    padding: 60px 6%;
    transition: all 0.4s ease;  
/* background-color: #fb8721; */
}

    .main-blog{
        /* background-color: aquamarine; */
        display: grid;
        
        /* width: 100%; */
        grid-template-rows: auto ;
        /* grid-template-columns:500px,1fr; */
        grid-template-columns:57% 1fr;
        /* row-gap: 20px; */
        grid-column-gap: 20px;
    }

    .blog-left{
      box-shadow: 0 0 25px 0 rgba(186, 183, 183, 0.4);

        /* background-color: chartreuse; */
    }
    .blog-left img{
        object-position: center;
/* object-fit: cover; */
        width: 100%;
        height:340px;
    }
    .blog-left  .blog-left-icon{
        padding-top: 20px;
    }
    .blog-left  .blog-left-icon span{
        /* padding-top: 20px; */
        padding-left: 20px;
            border-right: 1.5px solid #9a9bb2;            ;
padding-right: 20px;

font-size: 1.1rem;
/* padding: 20px 12px; */
/* color: #f21dc0; */
color: rgb(71, 71, 110);
    }
  .blog-left  .blog-left-icon i
  {
    color: #e81212;

    padding-right:10px ;
    /* background-color: aquamarine; */
    /* padding: 20px; */
    /* border-right: 1px solid gray; */
  }


  .blog-left  .blog-left-icon .tag {
    /* padding-top: 5%; */
        border: none;
        /* margin-top: 45%; */
        /* background-color: #7121fb; */
        font-size: 1.2rem;
        font-weight: 500;
    /* background-color: #fb21c8; */

  }
.blog-left .blog-content{  
    /* background-color: #7121fb; */
    padding: 20px;
  }
  .blog-left .blog-content h2{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(71, 71, 110);

    /* color: rgb(71, 71, 110); */

    /* background-color: #e81212 */
  }


 .blog-left .blog-left2{
  box-shadow: 0 0 25px 0 rgba(186, 183, 183, 0.4);
  border: 10px;
  /* background-color: #fb8721; */
 }

 .blog-left2 h2{
  /* padding: 20px; */
  padding: 25px 20px 10px 20px;

  font-size: 2rem;
    font-weight: 700;
    color: rgb(71, 71, 110);

 }

 .blog-left2 p{
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(71, 71, 110);
padding: 00px 20px 20px 20px;
 }
 /* .blog-left2 .input-box{
  padding: 10px;
background-color: chartreuse;
 } */
/* .blog-left2  .input-box input{
  width: 100%;
  padding: 8px;


} */
.main-comment{
  /* background-color: chartreuse; */
  padding: 20px;
  /* float: right; */
}
.input-icons i {
  /* position: absolute; */
  /* float: right; */
  /* top: 0; */
  float: right;
/* bottom: 0; */
  /* padding: 10px; */
  /* min-width: 40px; */
}

.input-icons {
  /* width: 100%; */
  /* margin-bottom: 10px; */
  /* background-color: rgb(13, 53, 40); */
  /* float: right; */
  position: relative;
/* gap: 20px; */
/* margin-bottom: 10%; */
}

.icon {
  font-size: 1rem;
  font-weight: 600;
  color: #9a9bb2;
  /* background-color: #ca986b; */
  /* top: 0; */
  /* position: absolute; */
  /* right: 0; */
  /* margin-right: 20%; */
  /* margin-left: 50%; */
  /* float: right; */
  padding: 10px;
  min-width: 40px;
/* justify-content: right; */
/* align-items: center; */
/* align-content: r; */
/* justify-items: right; */
/* text-align: center; */
}

.subcomment{
display: grid;
 grid-template-columns: repeat(2,1fr);
/* background-color: aquamarine; */
    grid-column-gap: 20px;

}

.input-field {
  /* background-color: burlywood; */
  width: 100%;
  padding: 10px;
  /* text-align: center; */
}


/* .subcomment  */

.input-icons span {
  /* background-color: #64e812; */
  display: flex;
  padding: 10px;
  box-shadow: 0 0 25px 0 rgba(186, 183, 183, 0.4);
gap: 20px;
margin-bottom: 20px;
border-radius: 10px;
  /* ba */
}



.input-icons span input {
  /* width: 135px; */
  /* background: transparent; */
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 550;
  line-height: 20px;
  transition: 0.8s;
  /* background-color: #fb8721; */
}

.input-icons span textarea{
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: 0.8s;
  font-size: 1rem;
  font-weight: 550;
  /* background-color: #fb8721; */

}

.navbar ul .search {
  /* margin-left: 10%;
  padding: 10px 20px;
  cursor: pointer;
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
  display: flex;
  height: 40px;
  border-radius: 7px;
  align-items: center;
  transition: 0.8s; */
  /* box-shadow: 0 0 25px 0 rgb(0,0,0,0.4); */
}

/* .search:hover input {
  width: 138px;
  cursor: pointer;
} */



/* .search li .fas {
  color: black;
} */









    .blog-right{
        /* background-color: darkolivegreen; */
    }
/* .blog-right .search{
    background-color: #fa2424;
} */


.blog-right .main-search{
    background-color: #f2efef;
    /* background-color: #7121fb; */
    padding: 45px;
    border-radius: 10px;
}

.blog-right .search {


    /* margin-left: 10%; */
    padding: 28px 10px;
    cursor: pointer;
    background-color: white;
    /* background-color: chartreuse; */
    /* background: #f4f4f4; */
    /* border: 2px solid #e0e0e0; */
    display: flex;
    height: 40px;
    border-radius: 7px;
    align-items: center;
    transition: 0.8s;
    box-shadow: 0 0 25px 0 rgba(186, 183, 183, 0.4);
  }
  
  /* .search:hover input {
    width: 145px;
    cursor: pointer;
  }
   */
   .blog-right .main-search .search input {
    width: 100%;
    padding: 8px;
    /* height: 50px; */
    /* background-color: rgb(221, 134, 27); */
    /* background: transparent; */
    border: none;
    outline: none;
    
    /* justify-content: left; */
    text-align: left;
    /* padding-left: 80px; */
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 20px;
    transition: 0.8s;
  }

    /* width: px; */
    .blog-right .main-search .search  li{
    background-color:  #e81212;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px
  }
   .blog-right .categoery{
    margin-top: 40px;
    background-color: #f2efef;
border-radius: 10px;
    /* background-color: #fb21b2; */
    padding: 40px 50px;
    /* gap: 20px; */
   }

   .categoery h3{
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(71, 71, 110);
    border-bottom: 1.5px solid #e81212;
    margin-bottom: 30px;
   }
   .blog-right .categoery .categoery1{ 
     padding: 16px 20px;
     border-radius: 8px;
     font-size: 1.1rem;
     color: #9a9bb2;
     font-weight: 500;
     line-height: 20px;
     /* gap: 20px; */
margin-bottom: 20px;
background-color: white;
box-shadow: 0 0 25px 0 rgba(186, 183, 183, 0.4);


}

.categoery span i {
  padding-right: 10px;
}
.categoery .value{
  float: right;
}

/* .blog-right .categoery .categoery2{ 
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 1.1rem;
  color: #9a9bb2;
  font-weight: 500;
  line-height: 20px;
} */

/* posts */
   .blog-right .posts{
    /* background-color: burlywood; */
    background-color: #f2efef;
    padding: 40px 50px;
    border-radius: 10px;
    margin-top: 40px;
   }

   .posts h3{
    padding-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(71, 71, 110);
    border-bottom: 1.5px solid #e81212;
    margin-bottom: 30px;
   }
.blog-right .posts .post1 img{
  object-position: center;
object-fit: cover;
        width: 100%;
        height:150px;
        border-radius: 10px;
}
   .blog-right .posts .post1{
    /* background-color: #fb8721; */
    display: flex;
    /* padding: 20px; */
    /* margin-top: 20px; */
    justify-content: center;
    /* flex-wrap: wrap; */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 2rem; */
    padding-bottom: 20px;
   }
  .post1 .post-content{
    /* background-color: chartreuse; */
    /* padding: 20px; */
  }
  .post1 .post-content h4{
    /* background-color: rgb(172, 181, 163); */
    padding:0px 20px 0px 20px;


    /* padding-bottom: 10px; */
    font-size: 1.1rem;
    font-weight: 700;
    color: rgb(71, 71, 110);
    /* border-bottom: 1.5px solid #e81212; */
    margin-bottom: 10px;
  }

  .post1 .post-content span{
    /* margin-top: 10%; */
    padding: 20px;
    font-size: 500;
  font-size: 1.1rem;
    color: #9a9bb2;

  }
  .post1 .post-content span .fa{
    color: #e81212;
padding-right: 10px;
  }