*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    position: relative;
}

.container img{
    width: 100%;
}
.container .text{
    /* content: "";
    z-index: 1;
left: 10px;
right: 10px; */
left: 10px;
right: 10px;
     position: absolute;
     top:0;
}