
/* Media Query  */

/* Responsive  */

@media (max-width: 1410px) {
 
    section {
      /* padding: 70px 3%; */
      padding: 30px 3%;
      transition: 0.2s;
    }
    .container {
      padding: 90px 3%;
      transition: 0.2s;
    }
   
  }
  



  @media (max-width: 1050px) {
  
    
  }
  
  @media (max-width: 910px) {
    .main-blog{
      height: 150vh;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  
    .blog-left  .blog-left-icon span{
        /* padding-top: 20px; */
        padding-left: 10px;
            /* border-right: 1.5px solid #9a9bb2;            ; */
  padding-right: 10px;
  
  font-size: 0.9rem;
  
    }
    
    
  }
  
  @media (max-width: 600px) {
   
  
  }
  
  @media (max-width: 300px) {
    .home {
      /* top: 150px; */
      height: 120vh;
    }
  
   
  }
  
  /* Mobile View  */
  
  @media (max-width: 1380px) {
  
    
    
    }
    @media (max-width: 663px) {
    
    }
  